/*
    BEM ==> Bloque Elemento Modificador.

    -  Se usa siempre CLASS no ID.
    -  CLASS = aplicar estilos.
    -  ID = aplicar funcionalidad (JavaScript).

        .bloque
        .bloque__elemento
        .bloque__elemento--modificador
    
    1.  No usar ID.
    2.  No usar etiquetas.
    3.  Que todo sea un Key Selector 
        (seleccionar justo el elemento al cual se le daran estilos).
        
*/

/*  Metodologia BEM  */
.cards {
    width: 400px;
    margin: 1px auto;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
    padding: 10px;
}

.cards__card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #ccc;
    background-color: lightblue;
}

.card__title {
    font-size: 24px;
    font-weight: bold;
}

.card__link {
    padding: 10px;
    background: green;
    color: white;
    text-decoration: none;
}

.card__link--rojo {
    background-color: red;
}



/*
    ******  Forma Clasica  ******  
.cards {
    width: 400px;
    margin: 1px auto;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
    padding: 10px;
}

cards .card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #ccc;
    background-color: lightblue;
}

contexto   key selector o clave
.cards .card h3 {
    font-size: 24px;
    font-weight: bold;
}

.cards .card a {
    padding: 10px;
    background: green;
    color: white;
    text-decoration: none;
}

*/