/*  ******  Unidades de Medida  ******  
    1 em = 20px depende del elemento padre.
    1 rem = 

    **********************************  */

body {
    height: 600px;
    font-size: 20px;
}

.padre {
    font-size: 10px;
}

.padre h1 {
    font-size: 3em;
}

.padre2 {
    font-size: 34px;
}

.caja {
    width: 13em;
    height: 13em;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid black;
}

.caja h3 {
    font-size: 2em;
}

.caja1 {
    
    font-size: 1.5em;
    
    width: 300px;
    height: 300px;
    
    background-color: aquamarine;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    
}

.caja2 {
        
    width: 50%;
    height: 50%;
    
    background-color: aquamarine;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    font-size: 35px;
}

.caja3 {
        
    width: 13em;
    height: 13em;
    
    background-color: aquamarine;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    font-size: 35px;
}

